.features{
    color:#fff;
    h3{
        border-left:8px solid #4e5a62;
        padding-left:7px;
        margin-bottom: 45px;
        color:#fff;
    }
    img{
        margin-bottom: 40px;
        width: 100%;
    }
    h4{
        margin-bottom: 25px;
    }
    p{
        opacity: 0.8;
        line-height: 1.6em;
    }
}