
.logo{
    margin-top:15px;
}
.menu{
    float: right;
    li{
        margin-left:20px;
        border-radius:5px;
        border: 1px solid transparent;
        a{
            padding:7px 12px;
            color:#fff;
            border:1px solid transparent;
            &:hover,&:focus{
                border:1px solid #fff;
                background: none;
                border-radius:5px;
            }
        }
        a.icon{
            display: none;
        }
        
    }
    .active{
        border: 1px solid #20766c;
        a{
            color:#20766c;
            &:hover,&:focus{
                border:1px solid #20766c;
                background: none;
                border-radius:5px;
            }
        }
    }
}
