.services{
    h3{
        border-left:8px solid #4e5a62;
        padding-left:7px;
        margin-bottom: 45px;
        color:#fff;
    }
    .work{
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        padding-right: 0;
        &:hover{
            cursor: pointer;
            h4{
                opacity: 1;
            }
        }
        h4{
            position: absolute;
            width: 100%;
            margin:0;
            bottom: 0;
            left: 15px;
            background: #292f36;
            color:#fff;
            padding: 15px 0 15px 25px;
            opacity: 0;
        }
        figure{
                img{
                    width: 100%;
                    height: auto;
                }
                position: relative;
                /*overflow: hidden;*/
                &::before{
                    position: absolute;
                    height: 100%;
                    width: 20%;
                    left:-75%;
                    top:0;
                    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,.5)) !important;
                    content: '';
                    transform: skewX(-25deg);
                    z-index: 2;
                    display: block;
                }
                &:hover::before{
                    animation: shine 1s;
                }
            }
        }
    .showMore{
        text-align: center;
        margin-top: 25px;
        margin-bottom: 10px;
        a{
            background: none;
            border:2px solid #fff;
            padding: 10px 15px;
            &:hover{
                background:#22b559;
                border:2px solid transparent;
            }
        }
    }
}
@keyframes shine{
        100%{
            left:125%;
        }
    }